body{
    background-color: blueviolet;
    text-align: center;
    font-size: 1rem;
}

.header{
    background-color: aqua;
    min-height: 10vh;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    max-width: 35rem;
    margin: auto;
}

#input_section{
    max-width: 25rem;
    margin: auto;
    background-color: crimson;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#add_btn{
    float: right;
    font-weight: bold;
    margin: 0px 10px;
    padding: 0px 10px;
    color: chartreuse;
    border: none;
    border-radius: 5px;
    background-color: chocolate;
    height: 2em;
    display: inline-flex;
    align-items: center;
}

#add_btn:hover{
    color: coral;
    cursor: pointer;
}

#new_todo{
    border-radius: 0.5rem;
    min-width: 20em;
    height: 2em;
    padding-left: 0.5rem;
}

#new_todo:hover, #new_todo:focus{
    border-color: blue;
}

.list_section{
    /* background-color: white; */
    min-height: fit-content;
    width: 94%;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: dashed blue;
    border-top: none;
    margin: 0.5rem 0rem;
    /* outline: solid black; */
}

.paper{
    background-color: white;
    min-height: fit-content;
    width: 22rem;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* outline: solid red; */
}

ul {
    list-style-type: none;
    /* background-color: white; */
    width: 100%;
    /* padding-left: 0; */
    padding: 0;
    /* outline: solid  green; */
    margin: 0;
}

li{
    border-radius: 5px;
    text-align: left;
    padding: 10px 5px;
    align-self: start;
    font-weight: bold;
    margin: 0.1rem 0.2rem;
    /* outline: solid red; */
    border-top: solid lightblue;
}

.itemLabel{
    display: inline-block;
    width: 80%;
    overflow-wrap: break-word;
    margin: auto;
}


.close_button {
    float: right;
    padding-right: 10px;
    height: 100%;
    vertical-align: middle;
}

.close_button:hover{
    cursor: pointer;
    color: red;
}

.check_box{
    float: left;
    padding: 0px 10px;
    visibility: hidden;
}

.completed {
    background-color: lightgreen;
}

.completed .check_box{
    visibility: visible;
}